.test{
    color:rgb(5, 5, 5);
    font-size: 20px;
}
.test2{
    color: rgb(11, 29, 194);
    font-size: 20px;
}
.test3{
    color: rgb(16, 61, 119);
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 30px;
}
.test4{
    color: rgb(16, 61, 119);
}
img[title="pics"]{
    font-size: 10px;
}
p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}
.best{
    color: saddlebrown;
}
#aa{
    text-align: left;
}
