.header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.feauter {
  padding-right: 50px;
  color: black;
}

.commun {
  color: black;
}

.med {
  padding-left: 50px;
  color: black;
}

.trac {
  color: blue;
}

.treeang {
  object-fit: contain;
  width: 40px;
  height: 25px;
  border-radius: 14px;
  background-image: linear-gradient(to top, #9c09db, #1c0fd7);
}

.i-button {
  width: 40px;
  height: 25px;
  object-fit: contain;
  border-radius: 14px;
  background-image: linear-gradient(to top, #32fbfc, #3214f2);
}

.harta {
  width: 40px;
  height: 25px;
  object-fit: contain;
  border-radius: 14px;
  background-image: linear-gradient(to top, #f2c314, #fc3832);
}

.get {
  width: 140px;
  height: 30px;
  background-color: blue;
}

.left-caption {
  font-size: 55px;
}

.with {
  font-size: 21px;
  line-height: 1.52;
  color: #000000;
}

.mario {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-betwe;
}

.all {
  margin-top: 130px;
  margin-left: 170px;
}

.star {
  color: #ffffff;
  width: 140px;
  height: 30px;
  background-color: blue;
}

.comp {
  margin-top: 60px;
}

.robot {
  display: flex;
  margin-top: 20px;
  margin-left: -120px;
}

.net {
  margin-left: 120px;
}

.appl {
  margin-left: 37px;
}

.android {
  margin-left: 37px;
}

.window {
  margin-left: 37px;
}

.snolo {
  margin-left: 37px;
}

.boba {
  margin-top: 140px;
  margin-top: 110px;
  margin-right: 200px;
}

.comp {
  width: 124px;
  height: 15px;
  opacity: 0.3;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  color: #000000;
}

.job {
  display: flex;
}

.section {
  display: flex;
}

.iphone-pics {
  width: 100%;
  height: 100%;
}

.iphone-img {
  width: 310px;
}

.best {
  display: flex;
  justify-content: space-between;
}

.heroi {
  display: flex;
  justify-content: space-around;
}

.spann {
  font-size: 18px;
  font-weight: 300;
  color: #000000;
}

.bui-show {
  text-align: center;
}

.bui {
  padding-right: 500px;
  padding-left: 500px;
  font-size: 40px;
  font-size: 40px;
}

.show {
  padding-right: 300px;
  padding-left: 300px;
  margin-bottom: 20px;
  font-size: 21px;
}

.tree-left {
  text-align: center;
}

.tree-center {
  text-align: center;
}

.tree-right {
  text-align: center;
}

.treeangel {
  width: 50px;
  height: 50px;
  border-radius: 14px;
  box-shadow: 0 2px 4px 0 rgba(36, 8, 128, 0.15);
  background-image: linear-gradien;
}

.aut {
  font-weight: bold;
}

.trac-you {
  font-size: 13px;
  line-height: 1.5;
}

.lear-1 {
  padding-top: 40px;
  font-weight: 600;
}

.mach {
  font-weight: bold;
}

.get-recom {
  font-size: 13px;
  line-height: 4.6;
}

.lear-2 {
  padding-top: 33px;
  font-weight: 600;
}

.smart {
  font-weight: bold;
}

.rec {
  font-size: 13px;
  line-height: 3.2;
}

.lear-3 {
  padding-top: 33px;
  font-weight: 600;
}

.foot {
  padding-top: 45px;
  display: flex;
  justify-content: space-between;
}

.roll {
  overflow: auto;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}

.doom {
  margin-top: 150px;
  display: flex;
}

.doom-right {
  margin-left: 200px;
}

.black {
  display: flex;
  width: 1440px;
  height: 750px;
  background-color: #000000;
}

.black-left {
  padding-top: 150px;
}

.colum-left {
  margin-left: 300px;
}

.first-left-comment {
  height: 112px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.08);
}

.i-use {
  color: #ffffff;
}

.data-1 {
  font-size: 12px;
  color: #ffffff;
}

.second-left-comment {
  width: 260px;
  height: 211px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.08);
}

.img-tweet-1 {
  background-color: white;
  border-radius: 15px;
}

.second-name {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}

.data-2 {
  font-size: 12px;
  color: #ffffff;
}

.showTrack-comment {
  width: 230px;
  font-size: 13px;
  color: #ffffff;
}

.third-left-comment {
  width: 260px;
  height: 172px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.08);
}

.img-tweet-2 {
  background-color: white;
  border-radius: 15px;
}

.third-name {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}

.I-use {
  width: 230px;
  font-size: 13px;
}

.fourth-left-comment {
  width: 260px;
  height: 211px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.08);
}

.img-tweet-3 {
  background-color: white;
  border-radius: 15px;
}

.fourth-name {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}

.show-track-comment-2 {
  width: 230px;
  font-size: 13px;
  color: #ffffff;
}

.data-4 {
  font-size: 12px;
  color: #ffffff;
}

.first-right-comment {
  width: 260px;
  height: 211px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.08);
}

.img-tweet-4 {
  background-color: white;
  border-radius: 15px;
}

.first-right-name {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}

.right-ShowTrack {
  width: 230px;
  font-size: 13px;
  line-height: 1.54;
  color: #ffffff;
}

.data-5 {
  font-size: 12px;
  color: #ffffff;
}

.second-right-comment {
  width: 260px;
  height: 172px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.08);
}

.img-tweet-5 {
  background-color: white;
  border-radius: 15px;
}

.second-right-name {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}

.i-use {
  width: 230px;
  font-size: 13px;
  color: #ffffff;
}

.data-6 {
  font-size: 12px;
  color: #ffffff;
}

.third-right-comment {
  width: 260px;
  height: 211px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.08);
}

.img-tweet-6 {
  background-color: white;
  border-radius: 15px;
}

.third-right-name {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}

.i-watch {
  width: 230px;
  height: 80px;
  opacity: 0.8;
  font-family: SourceSansPro;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #ffffff;
}

.data-7 {
  font-size: 12px;
  color: #ffffff;
}

.fourth-right-comment {
  height: 130px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.08);
}

.img-tweet-7 {
  background-color: white;
  border-radius: 15px;
}

.fourth-right-name {
  color: white;
  font-size: 12px;
  font-weight: 600;
}

.i-use-show {
  width: 230px;
  font-size: 13px;
  color: #ffffff;
}

.easy {
  width: 460px;
  height: 100px;
  font-size: 46px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.09;
  letter-spacing: normal;
  color: #000000;
}

.since {
  width: 460px;
  height: 112px;
  opacity: 0.8;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #000000;
}

.up-down {
  margin-top: 20px;
}

.up-down2 {
  margin-top: 30px;
}

.up-down3 {
  margin-top: 30px;
}

.go1 {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.cust {
  font-family: sans-serif;
  font-weight: 600;
}

.go2 {
  margin-top: 30px;
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.auto {
  font-family: sans-serif;
  font-weight: 600;
}

.go3 {
  margin-top: 30px;
  width: 20px;
  height: 17px;
  object-fit: contain;
}

.int {
  font-family: sans-serif;
  font-weight: 600;
}
.up {
  margin-top: -330px;
}

.down {
  margin-left: 60px;
}

.communiti {
  padding-left: 300px;
  color: white;
}

.we {
  margin-left: 170px;
  width: 460px;
  font-family: SourceSansPro;
  font-size: 46px;
  color: #ffffff;
}

.our {
  margin-left: 150px;
  width: 420px;
  line-height: 1.56;
  color: #ffffff;
}

.tv {
  margin: auto;
  text-align: center;
  width: 606px;
  font-size: 60px;
}

.order {
  margin-left: 500px;
  text-align: center;
  width: 610px;
  height: 96px;
  font-size: 21px;
  line-height: 1.52;
}

.last {
  margin-top: 50px;
  text-align: center;
}

.good-man{
  text-align: center;
}

.copy {
  margin-top: 50px;
  margin-left: 80px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
}

.get-started {
  text-align: center;
  margin-top: 150px;
}

}

.ssb {
  width: 140px;
  height: 30px;
  background-color: blue;
}

@media (max-width: 768px) {
  .menu-center {
    display: none;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .all {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .mario {
    display: inline;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .net {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .log-in {
    display: none;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .foot {
    flex-direction: column;
    width: 360px;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .bui-show {
    flex-direction: column;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .down {
    display: none;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 768px) {
  .up {
    display: none;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .black {
    overflow: hidden;
    flex-direction: column;
    width: 360px;
    margin-right: auto;
  }
}
@media (max-width: 768px) {
  .colu-right {
    display: none;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .colum-left {
    flex-wrap: nowrap;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 768px) {
  .black-left {
    flex-direction: column;
    width: 360px;
    margin-left: -170px;
    margin-right: auto;
  }
}
@media (max-width: 768px) {
  .bui {
    width: 200px;
    font-size: 40px;
    padding-left: 0px;
  }
}

@media (max-width: 768px) {
  .show {
    margin-left: -70px;
    font-size: 21px;
    width: 340px;
    padding-left: 0px;
  }
}
@media (max-width: 768px) {
  .we {
    width: 300px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .our {
    
    width: 300px;
    padding-left: 40px;
  }
}

}
@media (max-width: 768px) {
  .third-left-comment {
    margin-left: -30px;
    margin-top: 5px;
   
  }
}

@media (max-width: 768px) {
  .second-left-comment {
    
    margin-top: 5px;
  }
}

@media (max-width: 768px) {
  .fourth-left-comment {
    
    margin-top: 5px;
  }
}

@media (max-width: 768px) {
  .colum-left {
    display: flex;
    flex-direction: row;
    margin-left: -220px;
    margin-top: 80px;
  }
}
@media (max-width: 768px) {
  .roll {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .doom{
   
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .order {
    width: 343px;
    margin-left: 0px;
  }
}
@media (max-width: 768px) {
  .tree-center{
    
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .esc-1, .esc-2, .esc-3, .esc-4, .esc-5 {
    display: none;
  }
}
@media (max-width: 768px) {
  .robot {
    margin-left: 0px;
  }
}
@media (max-width: 768px) {
  .tree-left {
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .trac-you {
    margin-top: 13px;
  }
}
@media (max-width: 768px) {
  .lear-1 {
    margin-top: -50px;
  }
}
@media (max-width: 768px) {
  .get-recom{
    margin-top: 13px;
    line-height: 1.5;
    font-size: 13px;
  }
}@media (max-width: 768px) {
  .lear-2 {
   padding-top: 0px;
  }
}
@media (max-width: 768px) {
  .rec {
    margin-top: 13px;
    font-size: 13px;
    line-height: 1.5;
  }
}
@media (max-width: 768px) {
  .lear-3 {
 padding-top: 0px;
  }
}
@media (max-width: 768px) {
  .tree-right {
    padding-top: 20px;
  }
}
@media (max-width: 768px) {
  .easy {
    width: 343px;
    margin-top: 25px;
  }
}
@media (max-width: 768px) {
  .since {
   margin-top: -25px;
  }
}
@media (max-width: 768px) {
  .get-started {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .tv{
    width: 490px;
  }
}
@media (max-width: 768px) {
  .good-man{
   margin-top: 100px;
   width: 343px;
  }
}
@media (max-width: 768px) {
  .copy{
    margin-top: 0px;
    font-size: 0px;
  
}
@media (max-width: 768px) {
  .last{
    margin-top: 20px;

  }
}