.body{
  max-width: 100%;
  font-family: 'Indie Flower', cursive;
font-family: 'Solway', serif;
  box-sizing: border-box;

}

.header {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.head{
  display: flex;
  margin-top: 150px;
  margin-bottom: 150px;
}
.feauter {
  padding-right: 50px;
  color: black;
}

.commun {
  color: black;
}

.med {
  padding-left: 50px;
  color: black;
}

.trac {
  color: blue;
}

.treeang {
  object-fit: contain;
  width: 60px;
  height: 40px;
  border-radius: 14px;
  background-image: linear-gradient(to top, #9c09db, #1c0fd7);
}

.i-button {
  width: 60px;
  height: 40px;
  object-fit: contain;
  border-radius: 14px;
  background-image: linear-gradient(to top, #32fbfc, #3214f2);
}

.harta {
  width: 60px;
  height: 40px;
  object-fit: contain;
  border-radius: 14px;
  background-image: linear-gradient(to top, #f2c314, #fc3832);
}

.get {
  width: 140px;
  height: 30px;
  background-color: blue;
}

.left-caption {
  font-size: 65px;
}

.with {
  font-size: 21px;
  line-height: 1.52;
  color: #000000;
}

.mario {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-betwe;
}

.all {
  width:675px ;
  margin-left: 150px;
}

.bibi{
  margin-top: 50px;
}

.mimi{
  margin-top: 50px;
}

.star {
  color: #ffffff;
  width: 140px;
  height: 30px;
  background-color: blue;
}

.robot {
  margin-top: 20px;
}

.net {
  
}

.appl {
  margin-left: 37px;
}

.android {
  margin-left: 37px;
}

.window {
  margin-left: 37px;
}

.snolo {
  margin-left: 37px;
}

.boba {
  margin-left: 90px;
  width: 300px;
}

.comp {
  
  letter-spacing: 2px;
  
}

.job {
  display: flex;
}

.section {
  display: flex;
}

.iphone-pics {
  width: 100%;
  height: 100%;
}

.iphone-img {
  width: 310px;
}

.best {
  display: flex;
  justify-content: space-between;
}

.heroi {
  display: flex;
  justify-content: space-around;
}

.spann {
  font-size: 18px;
  font-weight: 300;
  color: #000000;
}
.bui-show{
  margin: 0 auto;
  text-align: center;
 font-size: 18px;
 width: 600px;
}

.mui{
  font-size: 48px;
}

.fui {
  font-size: 21px;
}

.tree-left {
  
  text-align: center;
}

.tree-center {
  
  text-align: center;
}

.tree-right {
 
  text-align: center;
}

.treeangel {
  width: 50px;
  height: 50px;
  border-radius: 14px;
  box-shadow: 0 2px 4px 0 rgba(36, 8, 128, 0.15);
  background-image: linear-gradien;
}

.aut {
  font-weight: bold;
  width: 300px;
  font-size: 18px;
}

.trac-you {
  font-size: 16px;
  line-height: 1.5;
  width: 300px;
  margin: 8px auto;
}

.lear-1 {
  width: 90px;
  font-size: 16px;
  margin: 10px auto;
}

.mach {
  font-weight: bold;
  width: 300px;
  font-size: 18px;
}

.get-recom {
  font-size: 16px;
  line-height: 1.5;
  width:300px ;
  margin: 8px auto;
}

.lear-2 {
  width: 90px;
  font-size: 16px;
  margin: 10px auto;
}

.smart {
  font-weight: bold;
  width: 300px;
  font-size: 18px;
}

.rec {
  font-size: 18px;
  line-height: 1.5;
  width: 300px;
  margin: 8px auto;
}

.lear-3 {
  width: 90px;
  font-size: 16px;
  margin: 10px auto;
}

.foot {

  display: flex;
  justify-content: space-between;
  margin: 80px 200px;
}

.roll {
  overflow: auto;
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
}

.doom {
  margin-top: 100px;
  display: flex;
}

.doom-left{
  width: 700px;
  margin-left: 170px;
}

.doom-right {
  width: 700px;
  overflow: hidden;
}
.bad-boy{
  margin-top: 57px;
}
.black {
  display: flex;
  background-color: #000000;
}

.black-left {
  padding-top: 100px;
}
.bad-boy2{
  color: #1c0fd7;
  text-align: center;
  margin-top: 30px;
  
}
.colum-left {
  margin-left: 200px;
}

.colum-right{
  margin-left: 30px;
}

.first-left-comment {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.08);
}

.i-use {
  color: #ffffff;
}

.data-1 {
  font-size: 12px;
  color: #ffffff;
}

.second-left-comment {
  width: 260px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.08);
}

.img-tweet-1 {
  background-color: white;
  border-radius: 15px;
}

.second-name {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}

.data-2 {
  font-size: 12px;
  color: #ffffff;
}

.showTrack-comment {
  width: 230px;
  font-size: 13px;
  color: #ffffff;
}

.third-left-comment {
  width: 260px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.08);
}

.img-tweet-2 {
  background-color: white;
  border-radius: 15px;
}

.third-name {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}

.I-use {
  width: 230px;
  font-size: 13px;
}

.fourth-left-comment {
  width: 260px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.08);
}

.img-tweet-3 {
  background-color: white;
  border-radius: 15px;
}

.fourth-name {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}

.show-track-comment-2 {
  width: 230px;
  font-size: 13px;
  color: #ffffff;
}

.data-4 {
  font-size: 12px;
  color: #ffffff;
}

.first-right-comment {
  width: 260px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.08);
}

.img-tweet-4 {
  background-color: white;
  border-radius: 15px;
}

.first-right-name {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}

.right-ShowTrack {
  width: 230px;
  font-size: 13px;
  line-height: 1.54;
  color: #ffffff;
}

.data-5 {
  font-size: 12px;
  color: #ffffff;
}

.second-right-comment {
  width: 260px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.08);
}

.img-tweet-5 {
  background-color: white;
  border-radius: 15px;
}

.second-right-name {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}

.i-use {
  width: 230px;
  font-size: 13px;
  color: #ffffff;
}

.data-6 {
  font-size: 12px;
  color: #ffffff;
}

.third-right-comment {
  width: 260px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.08);
}

.img-tweet-6 {
  background-color: white;
  border-radius: 15px;
}

.third-right-name {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}

.i-watch {
  width: 230px;
  height: 80px;
  opacity: 0.8;
  font-family: SourceSansPro;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #ffffff;
}

.data-7 {
  font-size: 12px;
  color: #ffffff;
}

.fourth-right-comment {

  border-radius: 10px; 
  background-color: rgba(255, 255, 255, 0.08);
}

.img-tweet-7 {
  background-color: white;
  border-radius: 15px;
}

.fourth-right-name {
  color: white;
  font-size: 12px;
  font-weight: 600;
}

.i-use-show {
  width: 230px;
  font-size: 13px;
  color: #ffffff;
}

.easy {
  font-size: 46px;
  width: 640px;
  font-weight: bold;
}

.since {
  font-size: 18px;
  margin-top: 20px;
  width: 460px;
}

.up-down {
  margin-top: 20px;
}

.up-down2 {
  margin-top: 30px;
}

.up-down3 {
  margin-top: 30px;
}

.go1 {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.cust {
  font-family: sans-serif;
  font-weight: 600;
}

.go2 {
  margin-top: 30px;
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.auto {
  font-family: sans-serif;
  font-weight: 600;
}

.go3 {
  margin-top: 30px;
  width: 20px;
  height: 17px;
  object-fit: contain;
}

.int {
  font-family: sans-serif;
  font-weight: 600;
}
.up {
  margin-top: -30px;
  margin-top: -294px4;
}

.down {
  margin-left: 86px;
  width: 651px;
}

.communiti {
  padding-left: 300px;
  color: white;
}

.we {
  margin-left: 170px;
  width: 460px;
  font-family: SourceSansPro;
  font-size: 46px;
  color: #ffffff;
}

.our {
  margin-left: 150px;
  width: 420px;
  line-height: 1.56;
  color: #ffffff;
}

.tv {
  margin: auto;
  text-align: center;
  width: 606px;
  font-size: 60px;
}

.order {
  margin-left: 372px;
  text-align: center;
  width: 610px;
  height: 96px;
  font-size: 21px;
  line-height: 1.52;
}

.last {
  margin-top: 50px;
  text-align: center;
}

.good-man{ 
  margin-top: 55px;
  text-align: center;
}

.copy {
  margin-top: 50px;
  margin-left: 80px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
}

.get-started {
  text-align: center;
  margin-top: 70px;
}

}

.ssb {
  width: 140px;
  height: 30px;
  background-color: blue;
}
 .bongo{
  text-align: center;
  margin-top: 70px;
 }




@media (max-width: 768px) {
  .menu-center {
    display: none;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .left-caption {
font-size: 40px;
width: 350px;
  }
}

@media (max-width: 768px) {
  .with {
font-size: 13px;
width: 350px;
  }
}

@media (max-width: 768px) {
  .all {
width: 700px;
margin: 0px 16px;
  }
}

@media (max-width: 768px) {
  .mario {
    display: inline;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .net {
   
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .log-in {
    display: none;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .foot {
    flex-direction: column;
    width: 360px;
    margin: 50px 16px;
    
  }
}

@media (max-width: 768px) {
  .down {
    display: none;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 768px) {
  .up {
    display: none;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .black {
    overflow: hidden;
    flex-direction: column;
    width: 360px;
    margin-right: auto;
  }
}
@media (max-width: 768px) {
  .colu-right {
    display: none;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .colum-left {
    flex-wrap: nowrap;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 768px) {
  .black-left {
    flex-direction: column;
    width: 360px;
    margin-left: -170px;
    margin-right: auto;
  }
}


@media (max-width: 768px) {
  .fui {
    width: 343px;
    font-size:18px ;
    
  }
}
@media (max-width: 768px) {
  .we {
    width: 300px;
    margin: 40px 203px;
  }
}

@media (max-width: 768px) {
  .our {
    
    width: 300px;
   margin: 9px 203px;
  }
}

}
@media (max-width: 768px) {
  .third-left-comment {
    margin-left: -30px;
    margin-top: 5px;
   
  }
}

@media (max-width: 768px) {
  .second-left-comment {
    
    margin-top: 5px;
  }
}

@media (max-width: 768px) {
  .fourth-left-comment {
    
    margin-top: 5px;
  }
}

@media (max-width: 768px) {
  .colum-left {
    display: flex;
    flex-direction: row;
    margin-left: -220px;
    margin-top: 80px;
  }
}
@media (max-width: 768px) {
  .roll {
    margin-top: 50px;
  }
}
@media (max-width: 768px) {
  .doom{
   margin: 80px 16px;
  }
}

@media (max-width: 768px) {
  .doom-left {
margin-left: 16px;
  }
}
 
@media (max-width: 768px) {
  .colum-right {
display: none;
  }
}


@media (max-width: 768px) {
  .order {
    width: 343px;
    font-size: 18px;
    margin: 20px 16px;
  }
}
@media (max-width: 768px) {
  .tree-center{
    text-align: left;
   margin: 50px 16px;
  }
}

  }
}
@media (max-width: 768px) {
  .robot {
    margin-left: 0px;
  }
}
@media (max-width: 768px) {
  .tree-left {
   text-align: left;
   margin: 14px 16px;
  }
}
@media (max-width: 768px) {
  .trac-you {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .lear-1 {
    margin: 10px 16px;
   
  }
}
@media (max-width: 768px) {
  .get-recom{
    margin-top: 13px;
    line-height: 1.5;
    font-size: 13px;
  }
}@media (max-width: 768px) {
  .lear-2 {
   margin: 10px 16px;
}
@media (max-width: 768px) {
  .rec {
    margin: 8px 16px;
    font-size: 13px;
    line-height: 1.5;
  }
}
@media (max-width: 768px) {
  .lear-3 {
    margin: 10px 16px;
 
  }
}
@media (max-width: 768px) {
  .tree-right {
    margin: 50px 16px;
    text-align: left;
  }
}
@media (max-width: 768px) {
  .easy {
    width: 343px;
    margin-top: 25px;
  }
}
@media (max-width: 768px) {
  .since {
   margin-top: -25px;
  }
}
@media (max-width: 768px) {
  .get-started {
    
   
  }
}
@media (max-width: 768px) {
  .tv{
    width: 343px;
    font-size: 30px;
    margin: 10px 16px;
  }
}

@media (max-width: 768px) {
  .copy{
   margin: 10px 16px;
   font-size: 12px;
   width: 370px;
  
}

@media (max-width: 768px) {
  .head{
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 17px;
  }
}

@media (max-width: 768px) {
  .boba{
   margin: 35px 16px;
  }
}
@media (max-width: 768px) {
  .bui-show{
    width: 100%;
    text-align: left;
    margin: 19px 16px;
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .mui{
    width: 343px;
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .show{
    width: 500px;
    padding-left: 0px;

  }
}

@media (max-width: 768px) {
  .data-2 {
margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .showTrack-comment {
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .third-name {
    margin-top:48px ;
  }
}

@media (max-width: 768px) {
  .second-left-comment {
    margin-top: -75px;
  }
}

@media (max-width: 768px) {
  .third-left-comment {
    margin-top: -75px;
  }
}

@media (max-width: 768px) {
  .bad-boy2 {
    text-align: center;
    margin-left: 143px;
    width: 300px;
  }
}
@media (max-width: 768px) {
  .second-name {
     margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .mail {
   margin: 60px 23px; 

  }
}

@media (max-width: 768px) {
  .mojo {
    margin: 20px 135px;
    text-align: left;
    
  }
}

@media (max-width: 768px) {
  .last {
     text-align: left;
     margin: 20px 135px;
  }
}

@media (max-width: 768px) {
  .bongo {
     margin-left: -185px;
  }
}
